body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



.header, .current {
    background-color: #1F2937;
    display: flex;
}

/*              <-- Header --> */

.header {
    justify-content: space-evenly;

}

.nav-bar {
    display: flex;
    
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

.headerlogo {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    size: 24px;
    font-weight: bold;

}

/*              <-- main --> */



.current {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/*              <-- main current..>  */

.current {
    padding-bottom: 70px;
    gap: 60px;
}

.current .left {
    margin-left: 260px;
}


.current .right {
    margin-right: 270px;
}

.left h2{
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0px;

}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.left button {
    background-color: #3883F6;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-style: none;
    
}
.placeholder {
    background-color: grey;
    height: 150px;
    width: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*              <-- Random Information --> */

.rdm-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rdm-info h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;

}

.card {
    height: 175px;
    width:  175px;
    border-radius: 10px;
    outline-style: solid;
    outline-color: blue;
    outline-width: 3px;
    margin: 30px;
    margin-bottom: 20px;

    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
    margin-right: 270px;
    
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    
}

.descript {
    text-align: center;
    width: 175px;
    font-size: 18px;

    
}








