body {
    margin: 0px;
}



.header, .current {
    background-color: #1F2937;
    display: flex;
}

/*              <-- Header --> */

.header {
    justify-content: space-evenly;

}

.nav-bar {
    display: flex;
    
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-bar a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    
}

.headerlogo {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    size: 24px;
    font-weight: bold;

}

/*              <-- main --> */



.current {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/*              <-- main current..>  */

.current {
    padding-bottom: 70px;
    gap: 60px;
}

.current .left {
    margin-left: 260px;
}


.current .right {
    margin-right: 270px;
}

.left h2{
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0px;

}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.left button {
    background-color: #3883F6;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-style: none;
    
}
.placeholder {
    background-color: grey;
    height: 150px;
    width: 400px;
    color: white;
    text-align: center;
    
}